img[src$='#center']
{
    display: block;
    max-width: 30%;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float: left;
    margin-right: 1.9rem; 
    width: 200px;     /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:left;
    max-width: 30%;
    /* width: auto;    */    
    margin: 1.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

figure.floatright {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}

.logo a {
    font-size: 15px;
    font-weight: 700;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
    margin-left: 15px;
}

.root {    
    --main-width: 900px;    
    --code-block-bg: rgb(26,17,16); #--code-block-bg: rgb(28, 29, 33);
}